
body { /* Visual */
    background: rgb(233, 94, 186);
  }
  #display1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    text-align: center;
    color: blue;
  }

  #display {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 80px;
    color: blue;
  
    /* Typography */
    text-align: center;
  
    /* Visual */
    background: rgb(233, 94, 186);
  }
  
  #wrapper {
    /* Box-model */
    width: 500px;
  
    /* Positioning */
    margin: 50px auto 0;
  }
  
  #buttons { /* Typography */
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  button {
    width: 100px;
  
    /* Box-model */
    height: 50px;
  }
  
  #laps {
    width: 100%;
    height: 200px;
  
    /* Positioning */
    margin-top: 20px;
  
    /* Box-model */
    overflow: auto;
  
    /* Typography */
    text-align: center;
  
    /* Visual */
    background: white;
  }
  